body {
  background-color: maroon;
}

/*sidebar*/
.sidebar {
  position: fixed;
  background-color: blanchedalmond;
  height: 100%;
  width: 100px;
  margin-left: -10px;
}

.sidebar :hover {
  text-decoration: underline;
}

.side a {
  text-decoration: none;
  color: #000;
}

.side1 {
  text-align: center;
  padding-left: 3px;
  top: 50px;
  position: relative;
}

.side2 {
  text-align: center;
  padding-left: 3px;
  top: 95px;
  position: relative;
}

.side3 {
  text-align: center;
  padding-left: 3px;
  top: 130px;
  position: relative;
}

.side4 {
  text-align: center;
  padding-left: 3px;
  top: 165px;
  position: relative;
}

.side5 {
  text-align: center;
  padding-left: 3px;
  top: 200px;
  position: relative;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  flex-direction: column;
  cursor: pointer;
}
.menu span {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
  border-radius: 2px;
}

.menu2 {
  top: 11px;
  left: 110px;
}

/*header*/
.icon {
  background-color: maroon;
  border-color: maroon;
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  font-size: xxx-large;
  text-decoration: none;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: -10px;
  margin-left: 90px;
}

.namebox {
  text-align: center;
  position: absolute;
  top: 271px;
  left: 45%;
}

.horizon {
  width: 100vw;
}

/*projects*/
.projects {
  margin-right: 2.5%;
  margin-top: 10px;
  border-radius: 3%;
  display: grid;
}

.project1 img {
  width: 97%;
  margin-left: 1%;
}

.box {
  display: flex;
  flex-direction: column;
}

.box p {
  font-size: xx-large;
  padding-left: 15px;
}

.project {
  padding: 15px;
  background-color: blanchedalmond;
  border-radius: 3%;
  margin-top: 39px;
  padding-top: 20px;
  border: 2px maroon dashed;
}

.projecth {
  text-align: center;
  font-size: xxx-large;
  margin-top: -10px;
}

.project-button {
  text-align: center;
  background-color: black;
  color: white;
  font-size: xx-large;
  margin-left: 50%;
  border-radius: 50%;
}

.project-button a {
  text-decoration: none;
  color: white;
}

/*get in touch*/
.git {
  margin-right: 2.5%;
  margin-top: 35px;
  border-radius: 3%;
  display: grid;
  background-color: blanchedalmond;
  margin-left: 10px;
}

.fbox {
  width: 95%;
}

.fn, .ln {
  width: 42%;
}

.ea, .sj {
  width: 90%;
}

.me {
  width: 90%;
  margin-left: 35px;
  padding-bottom: 30px;
}

.fn, .ln, .ea, .sj, .me {
  margin-bottom: 10px;
  margin-left: 37px;
}

.sub {
  margin-left: 35px;
}

/*About Page*/
.abt {
  margin-left: 100px;
}

.abt h1 {
  font-size: 50px;
  text-align: center;
}

.a {
  margin-top: -39px;
}

.abt p {
  font-size: 40px;
}

/*Coding examples*/
.code h1 {
  font-size: 50px;
  text-align: center;
}

.code {
  margin-left: 100px;
}

/*SCS*/
.SCS {
  margin-left: 10%;
}

/*media queries*/
@media (min-width: 1440px) {
  .projects, .git {
    margin-left: 7.5%;
  }
  .namebox {
    left: 45%;
    top: 20%;
  }
  .SCS {
    margin-left: 10%;
  }
}
@media (max-width: 1439px) {
  .projects, .git {
    margin-left: 8.5%;
  }
  .namebox {
    left: 44%;
  }
}
@media (max-width: 1025px) {
  .namebox {
    left: 42%;
  }
  .projects, .git {
    margin-right: -2%;
    margin-left: 10%;
  }
}
@media (min-width: 1025px) {
  .flex {
    display: flex;
  }
  #box {
    display: block;
  }
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
    z-index: 1001;
  }
  .menu {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .menu {
    display: flex !important;
  }
  .header {
    margin-left: -10px;
  }
  .namebox {
    left: 28%;
    top: 198px;
  }
  .projects, .git {
    margin-left: 1.5%;
    margin-right: 9%;
  }
  .abt, .SCS, .code {
    margin-left: 0px;
  }
}
@media (max-width: 769px) {
  .projects, .git {
    margin-right: -3%;
    margin-left: 14%;
  }
  .SCS {
    margin-left: 13%;
  }
}
@media (max-width: 430px) {
  .namebox {
    left: 10%;
    top: 77px;
  }
  .horizon {
    width: 110vw;
  }
  .projects, .git {
    margin-right: 2.5%;
    margin-left: 2%;
  }
}
@media (max-width: 321px) {
  .projects, .git {
    margin-left: 1.5%;
    margin-right: -8%;
  }
  .horizon {
    width: 120vw;
  }
  .namebox {
    left: 20%;
    top: 47px;
  }
}
/* End of media queries */
/*animations*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Name {
  opacity: 0;
  transition: opacity 0.2s;
}

.Name.animate {
  animation: fadeInUp 1s ease-out forwards;
}

/* End of animations*/

/*# sourceMappingURL=Styles.css.map */
